@font-face
{
    font-family: pixelon;
    src: url("resource/pixelon-font/Pixelon-OGALo.ttf");
    font-stretch: normal;
    font-weight: 400;
    font-style: normal;
}

*
{
    font-family: pixelon, sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --poke-red: #ef5350;
    --poke-blue: #3660ab;
    --poke-yellow: #fdc91a;
}

body
{
    background-color: var(--poke-blue);
}

nav
{
    background-color: var(--poke-red);
    position: sticky;

    padding: 10px;
}

#search-button
{
    padding: 0.1em;
}

img.sprite
{
    max-width: 20%;

    border-style: double;
    border-width: 5px;
}

.poke-card
{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    background-color: white;

    display: flex;
    flex-direction: column;
    row-gap: 3px;

    border-style: double;
    border-width: 5px;
}